[Desktop Entry]
Name=Minimon
Exec=cosmic-applet-minimon %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.hyperchaotic.cosmic-applet-minimon
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
