[Desktop Entry]
Name=Minimon
Exec=minimon-applet %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.hyperchaotic.Minimon
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
