[Desktop Entry]
Name=Minimon
Exec=cosmic-applet-minimon
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=io.github.cosmic_utils.minimon-applet
Categories=COSMIC
Keywords=Monitor;System;CPU;GPU;Memory;Network;Disk;
Keywords[ar]=نظام;معالج;معالج الرسوميات;ذاكرة;شبكة;قرص;مراقب;مرقاب;
Keywords[hu]=Rendszer;CPU;GPU;Memória;Hálózat;Lemez;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
