[Desktop Entry]
Name=Minimon
Exec=cosmic-applet-minimon %F
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
Icon=io.github.cosmic-utils.cosmic-applet-minimon-symbolic
Categories=COSMIC
Keywords=Monitor;System;CPU;GPU;Memory;Network;Disk;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
