[Desktop Entry]
Name=Minimon
Exec=cosmic-applet-minimon
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
Icon=io.github.cosmicUtils.cosmicAppletMinimon
Categories=COSMIC
Keywords=Monitor;System;CPU;GPU;Memory;Network;Disk;
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
